# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/
env.bak/

# PyInstaller
*.spec
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django / Flask / general app files
local_settings.py
db.sqlite3
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
target/

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environment managers
.python-version
Pipfile.lock
poetry.lock

# Lint / tooling
.pylint.d/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db